<% if (typeof authenticated != 'undefined') { %>
  <a class="admin" href="/articles/<%= article.id %>/edit">
    [Edit this article]
  </a>
<% } %>
<h2>
  <a href="/articles/<%= article.permalink %>">
    <%- article.title %>
  </a>
</h2>
<h3><%= formatArticleDate(article.publishedAt); %></h3>
<p><%- formatArticleBody(article.body); %></p>

