<link rel="stylesheet" href="/css/highlight/zenburn.css"/>
<h2>
  <a href="/articles/<%= article.permalink %>">
    <%- article.title %>
  </a>
</h2>
<h3><%= article.publishedAt %></h3>
<p><%- article.bodyHtml %></p>
<% if (comments.length) { %>
  <hr/>
  <h2>Comments</h2>
  <% var comment;
     for (var i = 0, ii = comments.length; i < ii; i++) {
     comment = comments[i]; %>
  <p>
    <div><a href="<%= comment.website %>"><%= comment.name %></a>
    (<%= geddy.date.strftime(comment.createdAt, '%F') %>)</div>
    <div><%- comment.bodyHtml %></div>
  </p>
  <% } %>
<% } %>
